/* Only to remove transition effect on loading */
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
/*---------------------------------------------*/

/*-----------------Mixins---------------------*/
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
/*---------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
	margin: 0;
	background-color: rgb(101, 8, 138);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.grid-container {
	display: grid;
	margin: 2vh 0;
	grid-template-columns: 1fr;
	grid-template-rows: 15% 300px auto;
	grid-template-areas:
		"header"
		"form"
		"result";

	header {
		grid-area: header;
		border-radius: 5px 5px 0 0;
		background-color: white;
	}

	section.form-wrapper {
		grid-area: form;
		border-radius: 0 0 5px 5px;
		background-color: white;
	}

	section.result-board {
		grid-area: result;
		margin: 1em 0;
		background-color: white;
		border-radius: 5px;
	}

	section.result-board > print-btn {
		margin-right: 5px;
	}

	.flex-container {
		@include flexbox();
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}

/* ----------- Media Query Tablet----------- */
@media screen and (min-width: 800px) and (max-width: 1199px) {
	.grid-container {
		grid-template-columns: 100px auto 100px;
		grid-template-rows: 15% 300px auto;
		grid-template-areas:
			". header ."
			". form ."
			". result .";
	}

	.trip {
		@include flexbox();
		justify-content: space-between;
		align-items: center;

		.destination-image {
			width: 50%;
		}

		.countdown,
		.temperature {
			font-size: 1.5rem;
		}

		.del-btn {
			align-self: flex-end;
		}
	}
}

/* ----------- Media Query PC----------- */
@media screen and (min-width: 1200px) {
	.grid-container {
		grid-template-columns: 200px auto 200px;
		grid-template-rows: 15% 300px auto;
		grid-template-areas:
			". header ."
			". form ."
			". result .";
	}

	.trip {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		height: 300px;

		.destination-image {
			width: 65%;
			height: 300px !important;
		}

		.countdown,
		.temperature {
			font-size: 1.5rem;
		}

		.del-btn {
			align-self: flex-end;
		}
	}
}

/* ----------- Media Query Big Screens----------- */
@media screen and (min-width: 1800px) {
	.grid-container {
		grid-template-columns: 1fr 1398px 1fr;
		grid-template-rows: 15% 300px auto;
		grid-template-areas:
			". header ."
			". form ."
			". result .";
	}
}

/* ----------- Media Query Print----------- */
@media print {
	body * {
		visibility: hidden;

		.result-board,
		.result-board * {
			visibility: visible;
			.print-btn {
				display: none;
			}
		}
		.result-board {
			-webkit-print-color-adjust: exact;
			color-adjust: exact;
			width: 100%;
			position: absolute;
			top: 0;

			.trip {
				@include flexbox();
				align-items: center;
				justify-content: space-between;
				height: 25vh;

				.destination-image {
					width: 65%;
					height: 25vh !important;
				}

				.countdown,
				.temperature {
					font-size: 1.5rem;
					padding: 1rem;
				}

				.del-btn {
					display: none;
				}
			}
		}
	}
}
